/*
background:
 +nomal:
 +hover:
color:
 +nomal:
 +hover:
 



*/


a {
  color: #0a7a05;
}
a:hover {
  color: #0a7a05;
}

i {
  color: #0a7a05;
}
.pre-header a:hover {
  color: #0a7a05;
}
.shop-currencies a.current {
  color: #0a7a05;
}
.header-navigation ul > li > a >span{vertical-align: middle;}
.header-navigation ul > li.active > a,
.header-navigation ul > li.active > a i,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
  color: #0a7a05;
}
.header-navigation li.menu-search i:hover {
  color: #0a7a05;
}
.sidebar a:hover {
  color: #0a7a05;
}
.sidebar .dropdown.open .dropdown-toggle:hover {
  color: #0a7a05;
}
.sidebar-menu .dropdown-menu li > a:hover, .sidebar-menu .dropdown-menu li > a:focus, .sidebar-menu li.active > a, .sidebar-menu li.active > a:hover {
  color: #0a7a05;
}
.content-page a:hover, 
.sidebar2 a:hover {
  color: #0a7a05;
}
.content-page .link, .content-page .link:hover, .content-page .link:active {
  color: #0a7a05;
}
.page-404 .number,
.page-500 .number {
  color: #0a7a05;
}
.content-form-page a:hover {
  color: #0a7a05;
}
.quote-v1 a.btn-transparent:hover {
  background: #0a7a05;
}
.recent-work h2 a:hover {
  color: #0a7a05;
}
.recent-work .recent-work-item .fa:hover {
  color: #0a7a05;
}
.our-clients h2 a:hover {
  color: #0a7a05;
}
.front-team h3 strong {
  color: #0a7a05;
}
.ecommerce .header-navigation ul > li.active > a,
.ecommerce .header-navigation ul > li > a:hover,
.ecommerce .header-navigation ul > li > a:focus,
.ecommerce .header-navigation ul > li.open > a,
.ecommerce .header-navigation ul > li.open > a:hover,
.ecommerce .header-navigation ul > li.open > a:focus {
  color: #0a7a05;
}
.product-item h3 a:hover {
  color: #0a7a05;
}
.checkout-page a:hover {
  color: #0a7a05;
}


.langs-block-others:after { 
  border-bottom: 8px solid #0a7a05;
}
.header-navigation > ul > li.dropdown:hover > a:after { 
  border-bottom: 8px solid #0a7a05;
}
.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  background: #0a7a05;
  color: #fff;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a:hover,
.header-navigation .dropdown-menu .header-navigation-content-ext li.active > a {
  background: #fff;
  color: #0a7a05;
}
.header-navigation .search-box:after { 
  border-bottom: 8px solid #0a7a05;
}
.header-navigation .search-box {
  border-top: solid 2px #0a7a05;
}
.title-wrapper h1 span {
  color: #0a7a05;
}
.breadcrumb > .active {
  color: #0a7a05;
}
.form-info h2 em {
  color: #0a7a05;
}
.nav-tabs {
  border-color: #0a7a05;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #0a7a05;
}
.content-search h1 em {
  color: #0a7a05;
}
.recent-work .recent-work-item:hover a.recent-work-description {
  background: #0a7a05;
}
.testimonials-v1 blockquote:after { 
  background-color: #0a7a05;
}
.testimonials-v1 span.testimonials-name {
  color: #0a7a05;
}
.search-result-item h4 a {
  color: #0a7a05;
}
.top-cart-content:after { 
  border-bottom: 8px solid #0a7a05;
}
.goods-data a,
.checkout-page .checkout-description a {
  color: #0a7a05;
}
.product-page .review a {
  color: #0a7a05;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #0a7a05;
    color: #fff;
}
.list-view-sorting a {
  background: #fff;
  color: #0a7a05;
}



::-moz-selection {
  color: #fff;
  background: #0a7a05;
}
::selection {
  color: #fff;
  background: #0a7a05;
}
.steps-block ::-moz-selection {
  color: #0a7a05;
  background: #fff;
}
.steps-block ::selection {
  color: #0a7a05;
  background: #fff;
}



.owl-buttons .owl-prev:hover {
    background-color: #0a7a05;
}
.owl-buttons .owl-next:hover {
    background-color: #0a7a05;
}
.steps-block-red {
  background: #0a7a05;
}
.pre-footer .photo-stream img:hover {
  border-color: #0a7a05;
}
.pre-footer-light dl.f-twitter dd a {
  color: #0a7a05;
}
.pre-footer-light address a {
  color: #0a7a05;
}
.testimonials-v1 .left-btn:hover {
    background-color: #0a7a05;
}
.testimonials-v1 .right-btn:hover {
    background-color: #0a7a05;
}
.blog-tags li i,
.blog-info li i {
  color: #0a7a05;
}
.blog-posts .more,
.blog-sidebar .more {
  color: #0a7a05;
}
.recent-news h3 a {
  color: #0a7a05;
}
.blog-photo-stream li img:hover {
  border-color: #0a7a05;
}
.blog-tags li a:hover {
  color: #fff;
  background: #0a7a05;
}
.blog-tags li a:hover:after { 
  border-left-color: #0a7a05;
}
.sidebar-categories li > a:hover,
.sidebar-categories li.active > a,
.sidebar-categories li.active:hover > a {
  color: #0a7a05;
}
.blog-item blockquote {
  border-color: #0a7a05;
}
.blog-item h4.media-heading span a {
    color: #0a7a05;
}
.front-steps-wrapper .front-step1 {
  background: #0a7a05;
}
.pricing-active {
  border: 3px solid #0a7a05;
  box-shadow: 7px 7px rgba(100, 174, 217, 0.2);
}
.pricing:hover {
  border: 3px solid #0a7a05;
}
.pricing:hover h4 {
  color: #0a7a05;
}
.pricing-head h3 {
  background: #0a7a05;
}
.pricing-head-active h4 {
  color: #0a7a05;
}
.pricing-content li i {
  color: #0a7a05;
}
.top-cart-block .fa-shopping-cart {
  background: #0a7a05;
}
.product-item .btn:hover {
  background: #0a7a05;
}
.pi-price {
  color: #0a7a05;
}
.product-item .add2cart:hover {
  color: #fff !important;
  background: #0a7a05 !important;
  border-color: #0a7a05;
}
.goods-page-price strong, 
.goods-page-total strong,
.checkout-price strong,
.checkout-total strong {
  color: #0a7a05;
}
.shopping-total strong,
.checkout-total-block strong {
  color: #0a7a05;
}
.compare-item strong {
  color: #0a7a05;
}
.sidebar-products .price {
    color: #0a7a05;
}
.price-availability-block .price strong {
  color: #0a7a05;
}

.require {
  color: #0a7a05;
}
.content-form-page .form-control:focus {
  border: solid 1px #0a7a05;
}
.content-search input:focus {
  border: solid 1px #0a7a05;
}

.btn-primary {
  background: #0a7a05;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #0a7a05;
}

.header-navigation .dropdown-menu > li:first-child {
    border-top: 2px solid #0a7a05;
}
.front-steps-wrapper .front-step1:after {
    border-left: 15px solid #83BEE0;
}

.del-goods:hover,
.add-goods:hover {
  background-color: #83BEE0;
}

.sidebar a:hover > .fa-angle-down {
  background-position: -22px 0;
}
.sidebar .collapsed:hover > .fa-angle-down {
  background-position: -22px -37px;
}

.top-cart-content {
  border-top: solid 2px #83BEE0;
}

.front-skills .progress-bar {
  background: #83BEE0;
}

.service-box-v1:hover {
  background: #83BEE0;
}

.header .mobi-toggler:hover {
  background-color: #83BEE0;
  border-color: #83BEE0;
}

@media (max-width: 1024px) {
  .header .header-navigation li > a:hover,
  .header .header-navigation li.active > a,
  .header .header-navigation li.open > a:hover {
    color: #83BEE0 !important;
  }
}

.faq-tabbable {
  border-left: solid 2px #83BEE0;
}
.faq-tabbable li:hover a,
.faq-tabbable li.active a{
  background: #83BEE0;
}
.faq-tabbable li.active:after {
  border-left: 6px solid #83BEE0;
}

.mix-filter li:hover, .mix-filter li.active {
    background: #83BEE0;
    color: #fff;
}
.mix-grid .mix .mix-details {
  background: #83BEE0;
}
.mix-grid .mix a.mix-link, 
.mix-grid .mix a.mix-preview {
  background: #1ab8db;
}
.langs-block-others {
  border-top: solid 2px #83BEE0;
}

.brands .owl-buttons .owl-prev:hover {
    background-position: 18px -325px;
}
.brands .owl-buttons .owl-next:hover {
    background-position: -249px -325px;
}
.header-navigation ul > li.active > a/*,
.ecommerce .header-navigation ul > li.active > a*/ {
  border-bottom: 2px solid #83BEE0;
}
.header-middle-right .icon-user-7{
background-color: green;
padding: 4px 2px;
height: 26px;
width: 26px;
border-radius: 94px;
font-size: 15px;
color: #fff;

}
.header-middle-right .badge{
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: -3px;
  right: -6px;
  font: 100%/1em BrandonGrotesque-Regular, Arial, Helvetica, sans-serif;
  font-weight: 600;
  height: 14px;
  /*width: 11px;*/
  color: #fff;
  background-color: red;
  font-size: 10px !important;
  border-radius: 2px !important;
  padding: 3px 0px 0px 1px;
  box-shadow: 0px 1px 1px #444;
  z-index: 1;
}


.header-middle-right .icon-badge{

  background-color: #fff;
  padding: 5px 1px;
  height: 26px;
  width: 26px;
  border-radius: 94px;
  font-size: 16px;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.header-middle-right .icon-bell:hover{
  background-color: green;
  color: #fff;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.header-middle-right  .input-group{
background-color: white;
padding:3px;

}

.header-middle-right .icon-menu-1{
font-size: 20px;
  /*margin: 0;*/
}

.header-middle-right .input-group-addon{
padding: 0px;
    cursor: pointer;
}

.header-middle-right  select.form-control{
color: #5f6d7b;
border-radius: 0;
border: none;
box-shadow: none;
font-weight: bold;
  height: 34px;
}

.icon-circle-radius{
background-color: rgb(244, 211, 211);
padding: 4px 0px;
height: 39px;
width: 39px;
border-radius: 94px;
font-size: 28px;

}
.icon-images{
background-color: rgb(244, 211, 211);
/* padding: 0px 0px; */
height: 39px;
width: 39px;
border-radius: 32px;
vertical-align: middle;
}
.icon-images img{ 
padding: 2px;}

.bg-normal{
background-color:aqua;
}
.color-white{
color:white;
}


/* imtoantran */
.bg-primary{
  background-color: #0a7a05 !important;
}

.text-primary {
  color: #0a7a05 !important;
}


/*luuhoabk*/
.box-infor-user a.header-logout-a{
  margin: 0px 5px 0px 10px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 1px 5px 2px 5px;
  background-color: transparent;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
.box-infor-user a.header-logout-a:hover{
  text-decoration: none;
  background-color: green;
  color: #fff;
  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}

.box-infor-user ul{line-height: 30px;padding: 0px; margin: 0px;}
.box-infor-user ul.add-friend:before{
  position: absolute;
  top: -8px;
  right: 2px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: '';
}
.box-infor-user ul.add-friend:after{
  position: absolute;
  top: -7px;
  right: 2px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}
.box-infor-user .add-friend{right:0px; top: 35px;}
.box-infor-user>ul>li{
  display: inline-block!important;
}
.notifications ul.dropdown-menu *{
  font-size: 12px !important;
}
.notifications ul.dropdown-menu li{
  border-top: solid 1px #ccc;
}
.notifications>ul>li>ul.dropdown-menu li:nth-child(n+15){
  display: none;
}
.notifications img{
  width: 34px !important;
  height: 34px !important;
  vertical-align: top !important;
  margin-right: 5px !important;
}
.notifications .notification-content span{
  display: block;
}
.notifications .notification-content{
  display: inline-block;
}
.timestamp{
  color: #ccc !important;
}
.notifications ul.dropdown-menu>div:first-child{
  padding-left:8px !important;
  font-weight: bold;
}
.notifications ul.dropdown-menu>div:last-child{
  border-top:solid 1px #ccc;  
  text-align: center;
  font-weight: bold;
}
.notifications li.new{
  background-color: rgba(123,123,123,.3);
}
.notifications li a{
  padding-left: 8px !important;
}