/*1/9/2015 10:21:36 AM*/
.choidau-form .control-label{
	text-align: left;
}
/*1/10/2015 3:33:27 PM*/
.panel-primary{
	border-color: #67bd3c;
}
.blog-item .comments .media{
	padding-bottom: 10px;
}
.blog-item .comments .media:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.reply-count{
	font-weight: bold;
	font-size: 20px;
	padding: 18px 60px 0 60px;
}
.comments .media-body p{
	text-align: justify;
}
.page-title{
	padding: 6px;	
}
.page-title .btn{
	/*padding:10px;*/
	color: #444;	
	line-height: 21px;
}
.page-title .btn:hover{
	color: #fff;
}
.page-title header{
	text-transform: uppercase;
}
.gallery-item .zoomix .icon-cancel-circled2{
	font-size: 60px;
	line-height: 60px;
	transform:rotateZ(45deg);
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -36px
}
.full-width{
	width:100% !important;
}
.location-item{
	margin-top:15px;
	margin-bottom:15px;
}
.location-info{
	
}
.location-description{
	position: absolute;
	bottom:0;
	left:10%;
	color:#fff;
}
.location .show-more{
	display:block;
	color: #fff;
	position: absolute;
	right: 0;
	float: right;
}