italic{font-style: italic;}
.underline{text-decoration: underline;}
.ver-mid{vertical-align: middle;}
.text-grey{color: #ababab;}
.text-justify{text-align: justify;}
.img-border-light{border: 1px solid #f1f1f1;}
.box-search input.form-control{height: 28px;}
.box-search select.form-control{height: 34px!important;}
.province-mark{font-weight: bold!important; color:#0a7a05}
.img-border-grey{border: 1px solid #e1e1e1;}
.padding-0{padding: 0px;}
.padding-1{padding: 1px;}
.padding-2{padding: 2px;}
.padding-3{padding: 3px;}
.padding-5{padding: 5px;}
.padding-left-5{padding-left: 5px;}
.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-right-20{padding-right: 20px;}
.padding-lr-0{padding-right: 0px; padding-left: 0px;}
.padding-lr-5{padding-right: 5px; padding-left: 5px;}
.padding-lr-10{padding-right: 10px; padding-left: 10px;}
.padding-lr-15{padding-right: 15px; padding-left: 15px;}
.padding-tb-0{padding-top: 0px; padding-bottom: 0px;}
.padding-tb-14{padding-top: 14px!important; padding-bottom: 14px!important;}
/*.margin-bottom-0{margin-bottom: 0px;}*/
.margin-0{margin: 0px;}
.margin-top-5{margin-top: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-right-5{margin-right: 5px;}
.margin-lr-0{margin-left: 0px; margin-right: 0px;}
.margin-tb-5{margin-top: 5px; margin-bottom: 5px;}
.margin-tb-10{margin-top: 10px; margin-bottom: 10px;}
.bg-grey-light{background-color: #f6f6f6;}
.white{color: #fff;}
.yellow{color: yellow!important;}
.grey{color: #ababab;}
.red{color: red;}
.grey-light{color: #f4f4f4;}
.avatar-pad2{padding: 2px!important; border: 1px solid #ddd;}
.font-10px{font-size: 10px;}
.font-12px{font-size: 12px;}
.font-14px{font-size: 14px;}
.font-16px{font-size: 16px;}
.font-24px{font-size: 24px;}
.font-32px{font-size: 32px;}
.font-weight-600{font-weight: 600;}
.font-bold{font-weight: bold;}
.font-italic{font-style: italic;}
.text-style{font-weight: 600; color: green;}
.text-link{cursor: pointer;}
.text-link:hover{text-decoration: underline;}

