.none-margin{
margin:0px;
}

.icon-border-square{
padding: 7%;
border: 2px solid;
font-size: 24px;
color: white;
}
.location-activitie{
padding: 28px 21px 2px 2px;
text-align: center;
}
.location-activitie  >div{
text-align: center;
padding:0px;
}

.img-item-slider{
width: 100% !important;
left: 0px;
top:10% !important;
transform: perspective(2000px);
position: absolute;
bottom: 0px !important;
height: 90% !important;
}
.header-location{
    padding: 10px 0px;
}

.header-location >div >h1{
font-size: 1.4em;
color: white;
font-weight: 600;
margin: 0px;
text-transform: capitalize;
}
.header-location >div >ul >li{

}

.ul-list-rating li{
padding:0px;
}
.ul-list-rating li >i{
width: 14px;
}/*
.slider-location{
width:100% !important;
height:80% !important;

}
.slider-location>div{
width:100% !important;
height:100% !important;
}

.slider-location>div>img{
width:100% !important;
height:100% !important;
}
*/
.infor-media{
    display: none;
}

.change-img{
    position: absolute;
}
.change-img i{
    font-size: 28px;
    cursor: pointer;
    color: #2ca02c;
    opacity: 0.8;
}
.change-img i:hover{
   color: yellowgreen;
    opacity: 1;
}


.save-anh-bia{

}
.lab-blog-post-item-comment .btn-blog-post-comment-delete{
    position: absolute;
    top: -1px;
    right: 0px;
    cursor: pointer;
    display: none;
}
.lab-blog-post-item-comment:hover {
    background: aqua;
}
.lab-blog-post-item-comment:hover .btn-blog-post-comment-delete{
   display: inline-block;
}
.col-none-padding{
    padding: 0px;
}


.person-header-nav ul.location-navigation{


}

.person-header-nav ul.location-navigation li{

    padding: 0px 0px;
    margin: 0px 2px;
    background: transparent;
    border-right-width: 0px;
}

.person-header-nav ul.location-navigation li a{
    background: transparent;
    color: green;

}
.blog-item-photo{
    width: 100%;
    height: 100%;
}
.txt-blog-post-comment{

}

.header-top-content ul >li> i{
    color: white;
}

.box-post-hot .lab-user-post{
    float: left;
    width: 60%;
}

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.item-post-element-parent .gallery-item img{
    height: 110px;
    width: 110px;
}